<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'uni_checker/main.css' %}">

		{% if title %}
			<title>Admi Blog - {{ title }}</title>
		{% else %}
			<title>Admi Blog</title>
		{% endif %}
	</head>
	<body>
		<header class="site-header">
			<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
				<div class="container">
					<a class="navbar-brand mr-4" href="{% url 'uni_checker:main_editor' %}">Django</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarToggle">
						<div class="navbar-nav mr-auto">
							<a class="nav-item nav-link" href="{% url 'uni_checker:main_editor' %}">Home</a>
							<a class="nav-item nav-link" href="{% url 'uni_checker:main_editor' %}">About</a>
						</div>
						<!-- Navbar Right Side -->
						<div class="navbar-nav">
						</div>
					</div>
				</div>
			</nav>
		</header>
		<main role="main" class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9">
					{% if messages %}
						{% for message in messages %}
							<div class="alert alert-{{ message.tags }}">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
					
				</div>
				{% block content %}{% endblock %}
			</div>
		</main>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script type='text/javascript'>
		$(document).ready(function() {

    // Watch for the 'add another book' click
    $('.add-form-row').click(function(e) {
        e.preventDefault();

        // create a clone of the existing form elements, but with blank fields.
        $('div.form_row:last').clone().each(function(i) {
            $(this).find('input').each(function(i) {

                // Remove any existing values
                

                // update the id attributes, incrementing the form number, e.g.: "row_set-1-field_name"
                parts = $(this).attr('id').split('-', 3);
                if (parts[2] != 'deadline') $(this).val('');

                num = parseInt(parts[1]) + 1;
                $(this).attr('id', parts[0] + '-' +num + '-' +parts[2]);

                // Update the name attribute, e.g.: form-1-field_name
                parts = $(this).attr('name').split('-', 3);
                num = parseInt(parts[1]) + 1;
                $(this).attr('name', parts[0] + '-' +num + '-' +parts[2]);

            });

            // Update the "for" attribute for all labels
            $(this).find('label').each(function(i) {
                parts = $(this).attr('for').split('-', 3);
                num = parseInt(parts[1]) + 1;
                $(this).attr('for', parts[0] + '-' +num + '-' +parts[2]);
            });

            $(this).find('[id^=div_id_row_set]').each(function(i) {
                parts = $(this).attr('id').split('-', 3);
                num = parseInt(parts[1]) + 1;
                $(this).attr('id', parts[0] + '-' +num + '-' +parts[2]);
            });

        }).appendTo('form.uniForm ');

        // Increment the TOTAL_FORMS
        $('#id_row_set-TOTAL_FORMS').val(parseInt($('#id_row_set-TOTAL_FORMS').val()) + 1);
    });
});
</script>
	</body>
</html>